/* ------ Callout Box ------------------------- */
/* -------------------------------------------- */

.callout {
  display: block;
  height: max-content;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.callout__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--fs-callout);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  line-height: 1.4;
  padding-block: var(--size-100);
}

.callout__content blockquote {
  font-size: var(--fs-callout-quote);
}
.callout__content footer {
  font-size: var(--fs-callout-quote-footer);
  font-family: var(--ff-secondary);
  font-style: italic;
  font-weight: var(--fw-semi-bold);
  text-align: right;
  color: var(--clr-neutral-500);
  padding: 20px 0 10px;
}

@media screen and (min-width: 768px) {

  /* .callout blockquote::before {
    content: "“";
    font-size: 400px;
    width: 60px;
    height: 60px;
    position: absolute;
    opacity: 0.075;
    top: -100px;
    left: 15px;
  } */

  /* .callout blockquote::after {
    content: "”";
    font-size: 400px;
    width: 60px;
    height: 60px;
    position: absolute;
    opacity: 0.075;
    bottom: 260px;
    right: 125px;
  } */

  .callout__container {
    display: flex;
    max-width: 800px;
    background-color: var(--clr-accent-green-100);
    border-radius: 40px;
    position: relative;
  }

  .callout__content {
    color: var(--clr-primary-blue-400);
    font-family: var(--ff-heading);
    font-weight: var(--fw-semi-bold);
  }

  .callout__padding-large {
    padding-block: 60px;
    padding-inline: 40px;
  }
  .callout__padding-small {
    padding-block: 40px;
    padding-inline: 30px;
  }

  .callout__content::after {
    content: url(/images/callout_decoration.svg?sanitize=true);
    width: 100px;
    position: absolute;
    top: -52px;
    right: 5%;
  }

  .callout__container::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--clr-accent-green-400);
    border-radius: 45px;
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: -1;
    box-shadow: 3px 5px 25px 5px hsla(200, 100%, 20%, 0.1), 1px 3px 5px hsla(200, 100%, 20%, 0.05);
  }

  .callout__speech::after {
    content: url(/images/callout_triangle.svg?sanitize=true);
    width: 60px;
    height: 53px;
    position: absolute;
    bottom: -52px;
    right: 15%;
  }
}